h2 Add news
form action='/' method='post' role='form'
  .well
    .form-group
      label Heading
      input.form-control name='news[heading]' type='text' required='required'
    .form-group
      label Content
      textarea.form-control name='news[content]' type='text' rows=10 required='required'
    .form-group
      label Image
      input.form-control name='news[file]' type='file'
    .form-group
      label Author
      input.form-control name='news[author]' type='text' required='required'
  .form-group.pull-right
    input.btn.btn-primary type='submit' value='Save'
