h2 Latest news

- @news.each do |n|
  .row.news
    .col-md-2
      img.img-responsive.image src=n[:image]
    .col-md-10
      h4.heading = n[:heading]
      p.content = n[:content]
      p.metadata = "#{n[:date]} by #{n[:author]}"
      - n[:comments].each do |c|
        blockquote
          p = c[:content]
          footer.metadata = "Anonymous, #{c[:date]}"
      form action="/#{n[:key]}/comment" method='post' role='form'
        .form-group
          textarea.form-control name='content' type='text' rows=1 required='required' placeholder='Add comment here'
        .form-group.pull-right
          input.btn.btn-primary type='submit' value='Add comment'
