body {
	font-family: 'Open Sans', sans-serif;
}

.news {
	margin-top: 10px;
}

img.image {
	margin: 10px;
}

.metadata {
	font-size: 12px;
	color: #888888;
}

blockquote {
	padding: 5px 10px;
	margin: 0px 0px 10px;
}

blockquote p {
	font-size: 14px;
	margin: 0px 0px 5px;
}